/* CSS for the page layout */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-item {
  border: 1px solid black;
}
.left-column {
  border: 1px solid #ccc;

  padding: 10px;
}

.grid-item h2 {
  display: inline-block;
  margin-right: 10px;
  height: 50px;
  font-size: 40px;
}

.grid-item.right {
  text-align: left;
}

.grid-item.right form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid-item.right form label {
  width: 100%;
}

.grid-item.right form .input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grid-item.right form .input-container label {
  margin-right: 10px;
}

.grid-item.right form .input-container input {
  width: 130%;
  padding-left: 72px;
  padding-top: 6px;
  margin-top: 30px;
}

.grid-item.right form .submit-button {
  margin-left: 175px;
  padding-right: 15px;
  margin-top: 20px;
}

.list-container {
  border: 1px solid black;
  padding: 10px;
  overflow: auto;
}

.list {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style-type: none;
}

.list li {
  background-color: hsla(39, 100%, 68%, 1);
  padding: 5px;
}

.list li:nth-child(odd) {
  background-color: #0692e4;
  color: #fff;
}

h1 {
  margin-top: 0;
  margin-left: -24px;
  font-size: 56px;

.array-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 85%;
  padding: 5px;
  margin-bottom: 2px;
  margin-top: 25px;
}

input[type="submit"] {
  background-color: #59d45e;
  color: white;
}
.submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
